---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="h-40 bg-primary">

		</section>
		<section class="text-center py-8">
			<div class="stats shadow ">
				<div class="stat">
					<div class="stat-figure text-secondary">
						<i class="fa-solid fa-newspaper fa-2xl text-primary"></i>
					</div>
					<div class="stat-title">Article rédigés</div>
					<div class="stat-value">31K</div>
				</div>
				
				<div class="stat">
					<div class="stat-figure text-secondary">
						<i class="fa-solid fa-comments fa-2xl text-primary"></i>
					</div>
					<div class="stat-title">Commentaires</div>
					<div class="stat-value">4,200</div>
				</div>
				
				<div class="stat">
					<div class="stat-figure text-secondary">
						<i class="fa-solid fa-gamepad fa-2xl text-primary"></i>
					</div>
					<div class="stat-title">Jeux vidéos</div>
					<div class="stat-value">1,200</div>
				</div>
				
			</div>
		</section>
	</main>
</Layout>

<style>
	
</style>
