---
import { getImage } from "astro:assets"

import Layout from "../layouts/Layout.astro";
import backgroundSection from "../assets/image-landing-page.jpeg"
const optimizedBackgroundImage = await getImage({ src: backgroundSection })
---

<Layout title="Gamishou">
  <main>
    <section  class="landing-background" style={`background-image: url('${optimizedBackgroundImage.src}')`}>
    </section>
    <section class="text-center py-8">
      <div class="stats">
        <div class="stat">
          <div class="stat-figure text-secondary">
            <i class="fa-solid fa-newspaper fa-2xl text-primary"></i>
          </div>
          <div class="stat-title">Article rédigés</div>
          <div class="stat-value">31K</div>
        </div>

        {/* <div class="stat">
          <div class="stat-figure text-secondary">
            <i class="fa-solid fa-comments fa-2xl text-primary"></i>
          </div>
          <div class="stat-title">Commentaires</div>
          <div class="stat-value">4,200</div>
        </div>*/}

        <div class="stat">
          <div class="stat-figure text-secondary">
            <i class="fa-solid fa-gamepad fa-2xl text-primary"></i>
          </div>
          <div class="stat-title">Jeux vidéos</div>
          <div class="stat-value">1,200K</div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
	.landing-background {
		height: calc(100vh - 308px);
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
../lib/usecases/get-stats.usecase.ts../lib/infra/stats.gateway.fake.ts